In [3]:
import pandas as pd
# Caminho do arquivo
url_exp_mun_2023 = r'\\wsl$\Ubuntu\home\edcarlos\Data-Analytics-Comercio-Exterior\datalake\landing\exportacao_mun_2023.csv' #foi nomeado dessa forma porque não encontrou o arquivo porque está no wsl2
# Lendo o CSV para um DataFrame
df_exp_mun_2023 = pd.read_csv(url_exp_mun_2023, sep=',')
# Exibir as primeiras linhas do DataFrame
df_exp_mun_2023.head()

,cd_sh4,cd_pais,sg_ufmun,cd_mun,kg_liquido,vl_dolarfob,data_exportacao_mun
0,2209,127,ba,2919553,36,53,2023-10-01
1,4009,493,sp,3456701,473,14008,2023-11-01
2,8536,365,sp,3438709,2,181,2023-11-01
3,8512,63,rj,3304201,15627,239105,2023-08-01
4,1902,580,pr,4118204,287,368,2023-06-01

In [4]:
# Caminho do arquivo 
url_ncm_sh = r'\\wsl$\Ubuntu\home\edcarlos\Data-Analytics-Comercio-Exterior\datalake\raw_data\NCM_SH.csv' 
# Lendo o CSV para um DataFrame
df_ncm_sh = pd.read_csv(url_ncm_sh, sep=';', encoding='latin1')
# Exibir as primeiras linhas do DataFrame
df_ncm_sh.head()

,CO_SH6,NO_SH6_POR,NO_SH6_ESP,NO_SH6_ING,CO_SH4,NO_SH4_POR,NO_SH4_ESP,NO_SH4_ING,CO_SH2,NO_SH2_POR,NO_SH2_ESP,NO_SH2_ING,CO_NCM_SECROM,NO_SEC_POR,NO_SEC_ESP,NO_SEC_ING
0,10110,"Animais vivos das espécies cavalar, asinina e ...","Caballos y asnos, reproductores de raza pura",Pure-bred breeding horses and asses,101,"Cavalos, asininos e muares, vivos","Caballos, asnos, mulos y burdéganos, vivos","Live horses, asses, mules and hinnies",1,Animais vivos,Animales vivos,Live animals,I,Animais vivos e produtos do reino animal,Animales vivos y productos del reino animal,Lives animals; Animal products
1,10111,"Cavalos reprodutores, de raça pura",Caballos reproductores de raza pura,Pure-bred breeding horses,101,"Cavalos, asininos e muares, vivos","Caballos, asnos, mulos y burdéganos, vivos","Live horses, asses, mules and hinnies",1,Animais vivos,Animales vivos,Live animals,I,Animais vivos e produtos do reino animal,Animales vivos y productos del reino animal,Lives animals; Animal products
2,10119,"Outros cavalos, vivos","Demás caballos, vivos",Other live horses,101,"Cavalos, asininos e muares, vivos","Caballos, asnos, mulos y burdéganos, vivos","Live horses, asses, mules and hinnies",1,Animais vivos,Animales vivos,Live animals,I,Animais vivos e produtos do reino animal,Animales vivos y productos del reino animal,Lives animals; Animal products
3,10120,Asininos e muares vivos,"Asnos, mulos y burdéganos, vivos","Asses, mules and hinnies (live)",101,"Cavalos, asininos e muares, vivos","Caballos, asnos, mulos y burdéganos, vivos","Live horses, asses, mules and hinnies",1,Animais vivos,Animales vivos,Live animals,I,Animais vivos e produtos do reino animal,Animales vivos y productos del reino animal,Lives animals; Animal products
4,10121,Cavalos reprodutores de raça pura,Caballos de raza selecta para reproducción,Pure-bred breeding horses,101,"Cavalos, asininos e muares, vivos","Caballos, asnos, mulos y burdéganos, vivos","Live horses, asses, mules and hinnies",1,Animais vivos,Animales vivos,Live animals,I,Animais vivos e produtos do reino animal,Animales vivos y productos del reino animal,Lives animals; Animal products

In [8]:
def carregar_e_mesclar_arquivos(url_exp_mun_2023: str, url_ncm_sh: str, 
                                chave_principal: str, chave_referencia: str, 
                                sep_principal: str = ',', sep_referencia: str = ';', 
                                encoding: str = 'latin1'):
    
    # Carregar os arquivos dentro da função
    df_exp_mun_2023 = pd.read_csv(url_exp_mun_2023, sep=sep_principal, encoding=encoding)
    df_ncm_sh = pd.read_csv(url_ncm_sh, sep=sep_referencia, encoding=encoding)

    # Garantir que as colunas de chave sejam strings
    df_exp_mun_2023[chave_principal] = df_exp_mun_2023[chave_principal].astype(str)
    df_ncm_sh[chave_referencia] = df_ncm_sh[chave_referencia].astype(str)

    # Realizar o merge
    df_resultado = df_exp_mun_2023.merge(df_ncm_sh, left_on=chave_principal, right_on=chave_referencia, how='left')

    return df_resultado

# Exemplo de uso
df_1 = carregar_e_mesclar_arquivos(
    url_exp_mun_2023=r'\\wsl$\Ubuntu\home\edcarlos\Data-Analytics-Comercio-Exterior\datalake\landing\exportacao_mun_2023.csv',
    url_ncm_sh=r'\\wsl$\Ubuntu\home\edcarlos\Data-Analytics-Comercio-Exterior\datalake\raw_data\NCM_SH.csv',
    chave_principal='cd_sh4',
    chave_referencia='CO_SH4'
)

# Exibir as primeiras linhas para verificar
df_1.head()

,cd_sh4,cd_pais,sg_ufmun,cd_mun,kg_liquido,vl_dolarfob,data_exportacao_mun,CO_SH6,NO_SH6_POR,NO_SH6_ESP,...,NO_SH4_ESP,NO_SH4_ING,CO_SH2,NO_SH2_POR,NO_SH2_ESP,NO_SH2_ING,CO_NCM_SECROM,NO_SEC_POR,NO_SEC_ESP,NO_SEC_ING
0,2209,127,ba,2919553,36,53,2023-10-01,220900,Vinagres e sucedâneos obtidos a partir do ácid...,Vinagre y sucedáneos del vinagre obtenidos a p...,...,Vinagre y sucedáneos del vinagre obtenidos a p...,Vinegar and substitutes for vinegar obtained f...,22,"Bebidas, líquidos alcoólicos e vinagres","Bebidas, líquidos alcohólicos y vinagre","Beverages, spirits and vinegar",IV,"Produtos das indútrias alimentares; Bebidas, l...",Productos de las industrias alimentarias; Bebi...,"Prepared foodstuffs, beverages, spirits and vi..."
1,4009,493,sp,3456701,473,14008,2023-11-01,400910,"Tubo de borracha vulcanizada, não endurecido, ...","tubo de caucho vulcan.s/endurec.s/reforzar, su...",...,"Tubos de caucho vulcanizado sin endurecer, inc...","Tubes, pipes and hoses, of vulcanised rubber o...",40,Borracha e suas obras,Caucho y sus manufacturas,Rubber and articles thereof,VII,Plásticos e suas obras; Borracha e suas obras,Materias plásticas y manufacturas de estas mat...,Plastics and articles thereof; Rubber and arti...
2,4009,493,sp,3456701,473,14008,2023-11-01,400911,"Tubos de borracha vulcanizada não endurecida, ...","Tubos de caucho vulcanizado sin endurecer, sin...",...,"Tubos de caucho vulcanizado sin endurecer, inc...","Tubes, pipes and hoses, of vulcanised rubber o...",40,Borracha e suas obras,Caucho y sus manufacturas,Rubber and articles thereof,VII,Plásticos e suas obras; Borracha e suas obras,Materias plásticas y manufacturas de estas mat...,Plastics and articles thereof; Rubber and arti...
3,4009,493,sp,3456701,473,14008,2023-11-01,400912,"Tubos de borracha vulcanizada não endurecida, ...","Tubos de caucho vulcanizado sin endurecer, sin...",...,"Tubos de caucho vulcanizado sin endurecer, inc...","Tubes, pipes and hoses, of vulcanised rubber o...",40,Borracha e suas obras,Caucho y sus manufacturas,Rubber and articles thereof,VII,Plásticos e suas obras; Borracha e suas obras,Materias plásticas y manufacturas de estas mat...,Plastics and articles thereof; Rubber and arti...
4,4009,493,sp,3456701,473,14008,2023-11-01,400920,Tubos de borracha sem acessórios,Tubos de caucho sin accesorios,...,"Tubos de caucho vulcanizado sin endurecer, inc...","Tubes, pipes and hoses, of vulcanised rubber o...",40,Borracha e suas obras,Caucho y sus manufacturas,Rubber and articles thereof,VII,Plásticos e suas obras; Borracha e suas obras,Materias plásticas y manufacturas de estas mat...,Plastics and articles thereof; Rubber and arti...

In [9]:
print(df_1.columns) #verificando as colunas

Index(['cd_sh4', 'cd_pais', 'sg_ufmun', 'cd_mun', 'kg_liquido', 'vl_dolarfob',
       'data_exportacao_mun', 'CO_SH6', 'NO_SH6_POR', 'NO_SH6_ESP',
       'NO_SH6_ING', 'CO_SH4', 'NO_SH4_POR', 'NO_SH4_ESP', 'NO_SH4_ING',
       'CO_SH2', 'NO_SH2_POR', 'NO_SH2_ESP', 'NO_SH2_ING', 'CO_NCM_SECROM',
       'NO_SEC_POR', 'NO_SEC_ESP', 'NO_SEC_ING'],
      dtype='object')

In [10]:
#removendo colunas
df_1 = df_1.drop(columns=['cd_sh4', 'CO_SH6', 'NO_SH6_POR', 'NO_SH6_ESP',
       'NO_SH6_ING', 'CO_SH4', 'NO_SH4_ESP', 'NO_SH4_ING',
       'CO_SH2', 'NO_SH2_POR', 'NO_SH2_ESP', 'NO_SH2_ING', 'CO_NCM_SECROM',
       'NO_SEC_POR', 'NO_SEC_ESP', 'NO_SEC_ING'])
df_1.head()

,cd_pais,sg_ufmun,cd_mun,kg_liquido,vl_dolarfob,data_exportacao_mun,NO_SH4_POR
0,127,ba,2919553,36,53,2023-10-01,Vinagres e seus sucedâneos obtidos a partir do...
1,493,sp,3456701,473,14008,2023-11-01,"Tubos de borracha vulcanizada não endurecida, ..."
2,493,sp,3456701,473,14008,2023-11-01,"Tubos de borracha vulcanizada não endurecida, ..."
3,493,sp,3456701,473,14008,2023-11-01,"Tubos de borracha vulcanizada não endurecida, ..."
4,493,sp,3456701,473,14008,2023-11-01,"Tubos de borracha vulcanizada não endurecida, ..."

In [13]:
# Caminho do arquivo
url_pais = r'\\wsl$\Ubuntu\home\edcarlos\Data-Analytics-Comercio-Exterior\datalake\raw_data\PAIS.csv' #foi nomeado dessa forma porque não encontrou o arquivo porque está no wsl2
# Lendo o CSV para um DataFrame
df_pais = pd.read_csv(url_pais, sep=';',  encoding='latin1')  # Ou tente 'ISO-8859-1'
# Exibir as primeiras linhas do DataFrame
df_pais.head()

,CO_PAIS,CO_PAIS_ISON3,CO_PAIS_ISOA3,NO_PAIS,NO_PAIS_ING,NO_PAIS_ESP
0,0,898,ZZZ,Não Definido,Not defined,No definido
1,13,4,AFG,Afeganistão,Afghanistan,Afganistan
2,15,248,ALA,"Aland, Ilhas",Aland Islands,"Alans, Islas"
3,17,8,ALB,Albânia,Albania,Albania
4,20,724,ESP,"Alboran-Perejil, Ilhas","Alboran-Perejil, Islands","Alboran-Perejil, Islas"

In [14]:
# Função para mesclar os DataFrames já carregados
def mesclar_dataframes(df_base: pd.DataFrame, df_referencia: pd.DataFrame, 
                       chave_base: str, chave_referencia: str) -> pd.DataFrame:
    """
    Realiza a junção (merge) entre a base principal e o DataFrame de referência.
    """
    # Garantir que as colunas usadas no merge sejam strings
    df_base[chave_base] = df_base[chave_base].astype(str)
    df_referencia[chave_referencia] = df_referencia[chave_referencia].astype(str)

    # Realizar o merge
    df_resultante = df_base.merge(df_referencia, left_on=chave_base, right_on=chave_referencia, how='left')
    
    return df_resultante

# Exemplo de aplicação da função

# Já carregados anteriormente
# df_1 (base principal) e df_urf (referência) já estão definidos

# Mesclar os DataFrames
df_2 = mesclar_dataframes(df_base=df_1, df_referencia=df_pais, chave_base='cd_pais', chave_referencia='CO_PAIS')

# Exibir as primeiras linhas do DataFrame resultante
df_2.head()

,cd_pais,sg_ufmun,cd_mun,kg_liquido,vl_dolarfob,data_exportacao_mun,NO_SH4_POR,CO_PAIS,CO_PAIS_ISON3,CO_PAIS_ISOA3,NO_PAIS,NO_PAIS_ING,NO_PAIS_ESP
0,127,ba,2919553,36,53,2023-10-01,Vinagres e seus sucedâneos obtidos a partir do...,127,132,CPV,Cabo Verde,Cape Verde,Cabo Verde
1,493,sp,3456701,473,14008,2023-11-01,"Tubos de borracha vulcanizada não endurecida, ...",493,484,MEX,México,Mexico,México
2,493,sp,3456701,473,14008,2023-11-01,"Tubos de borracha vulcanizada não endurecida, ...",493,484,MEX,México,Mexico,México
3,493,sp,3456701,473,14008,2023-11-01,"Tubos de borracha vulcanizada não endurecida, ...",493,484,MEX,México,Mexico,México
4,493,sp,3456701,473,14008,2023-11-01,"Tubos de borracha vulcanizada não endurecida, ...",493,484,MEX,México,Mexico,México

In [15]:
print(df_2.columns) #verificar as colunas

Index(['cd_pais', 'sg_ufmun', 'cd_mun', 'kg_liquido', 'vl_dolarfob',
       'data_exportacao_mun', 'NO_SH4_POR', 'CO_PAIS', 'CO_PAIS_ISON3',
       'CO_PAIS_ISOA3', 'NO_PAIS', 'NO_PAIS_ING', 'NO_PAIS_ESP'],
      dtype='object')

In [16]:
# removendo colunas
df_2 = df_2.drop(['cd_pais', 'CO_PAIS', 'CO_PAIS_ISON3',
       'CO_PAIS_ISOA3', 'NO_PAIS_ING', 'NO_PAIS_ESP'], axis=1)
df_2.head()

,sg_ufmun,cd_mun,kg_liquido,vl_dolarfob,data_exportacao_mun,NO_SH4_POR,NO_PAIS
0,ba,2919553,36,53,2023-10-01,Vinagres e seus sucedâneos obtidos a partir do...,Cabo Verde
1,sp,3456701,473,14008,2023-11-01,"Tubos de borracha vulcanizada não endurecida, ...",México
2,sp,3456701,473,14008,2023-11-01,"Tubos de borracha vulcanizada não endurecida, ...",México
3,sp,3456701,473,14008,2023-11-01,"Tubos de borracha vulcanizada não endurecida, ...",México
4,sp,3456701,473,14008,2023-11-01,"Tubos de borracha vulcanizada não endurecida, ...",México

In [17]:
# Caminho do arquivo
url_uf_mun = r'\\wsl$\Ubuntu\home\edcarlos\Data-Analytics-Comercio-Exterior\datalake\raw_data\UF_MUN.csv' 
# Lendo o CSV para um DataFrame
df_uf_mun = pd.read_csv(url_uf_mun, sep=';',  encoding='latin1')  # Ou 'ISO-8859-1'
# Exibir as primeiras linhas do DataFrame
df_uf_mun.head()

   CO_MUN_GEO                  NO_MUN              NO_MUN_MIN SG_UF
0     2502003  BELEM DO BREJO DO CRUZ  Belém do Brejo do Cruz    PB
1     2502052      BERNARDINO BATISTA      Bernardino Batista    PB
2     2502102             BOA VENTURA             Boa Ventura    PB
3     2502151               BOA VISTA               Boa Vista    PB
4     2502201               BOM JESUS               Bom Jesus    PB

In [18]:
# Função para mesclar os DataFrames já carregados
def mesclar_dataframes(df_base: pd.DataFrame, df_referencia: pd.DataFrame, 
                       chave_base: str, chave_referencia: str) -> pd.DataFrame:
    """
    Realiza a junção (merge) entre a base principal e o DataFrame de referência.
    """
    # Garantir que as colunas usadas no merge sejam strings
    df_base[chave_base] = df_base[chave_base].astype(str)
    df_referencia[chave_referencia] = df_referencia[chave_referencia].astype(str)

    # Realizar o merge
    df_resultante = df_base.merge(df_referencia, left_on=chave_base, right_on=chave_referencia, how='left')
    
    return df_resultante

# Exemplo de aplicação da função

# Já carregados anteriormente
# df_1 (base principal) e df_urf (referência) já estão definidos

# Mesclar os DataFrames
df_3 = mesclar_dataframes(df_base=df_2, df_referencia=df_uf_mun, chave_base='cd_mun', chave_referencia='CO_MUN_GEO')

# Exibir as primeiras linhas do DataFrame resultante
df_3.head()

,sg_ufmun,cd_mun,kg_liquido,vl_dolarfob,data_exportacao_mun,NO_SH4_POR,NO_PAIS,CO_MUN_GEO,NO_MUN,NO_MUN_MIN,SG_UF
0,ba,2919553,36,53,2023-10-01,Vinagres e seus sucedâneos obtidos a partir do...,Cabo Verde,2919553,LUIS EDUARDO MAGALHAES,Luís Eduardo Magalhães,BA
1,sp,3456701,473,14008,2023-11-01,"Tubos de borracha vulcanizada não endurecida, ...",México,3456701,VINHEDO,Vinhedo,SP
2,sp,3456701,473,14008,2023-11-01,"Tubos de borracha vulcanizada não endurecida, ...",México,3456701,VINHEDO,Vinhedo,SP
3,sp,3456701,473,14008,2023-11-01,"Tubos de borracha vulcanizada não endurecida, ...",México,3456701,VINHEDO,Vinhedo,SP
4,sp,3456701,473,14008,2023-11-01,"Tubos de borracha vulcanizada não endurecida, ...",México,3456701,VINHEDO,Vinhedo,SP

In [19]:
print(df_3.columns) #verificar colunas

Index(['sg_ufmun', 'cd_mun', 'kg_liquido', 'vl_dolarfob',
       'data_exportacao_mun', 'NO_SH4_POR', 'NO_PAIS', 'CO_MUN_GEO', 'NO_MUN',
       'NO_MUN_MIN', 'SG_UF'],
      dtype='object')

In [20]:
df_3 = df_3.drop(['cd_mun', 'CO_MUN_GEO', 'NO_MUN', 'SG_UF'], axis=1) #remover colunas
df_3.head()

,sg_ufmun,kg_liquido,vl_dolarfob,data_exportacao_mun,NO_SH4_POR,NO_PAIS,NO_MUN_MIN
0,ba,36,53,2023-10-01,Vinagres e seus sucedâneos obtidos a partir do...,Cabo Verde,Luís Eduardo Magalhães
1,sp,473,14008,2023-11-01,"Tubos de borracha vulcanizada não endurecida, ...",México,Vinhedo
2,sp,473,14008,2023-11-01,"Tubos de borracha vulcanizada não endurecida, ...",México,Vinhedo
3,sp,473,14008,2023-11-01,"Tubos de borracha vulcanizada não endurecida, ...",México,Vinhedo
4,sp,473,14008,2023-11-01,"Tubos de borracha vulcanizada não endurecida, ...",México,Vinhedo

In [21]:
#renomear colunas
df_3 = df_3.rename(columns={  
    'NO_SH4_POR': 'cd_sh4',
    'NO_PAIS': 'cd_pais',
    'NO_MUN_MIN': 'cd_mun'
    })
df_3.columns = df_3.columns.str.strip().str.lower().str.replace(' ', '_')
df_3.head()

,sg_ufmun,kg_liquido,vl_dolarfob,data_exportacao_mun,cd_sh4,cd_pais,cd_mun
0,ba,36,53,2023-10-01,Vinagres e seus sucedâneos obtidos a partir do...,Cabo Verde,Luís Eduardo Magalhães
1,sp,473,14008,2023-11-01,"Tubos de borracha vulcanizada não endurecida, ...",México,Vinhedo
2,sp,473,14008,2023-11-01,"Tubos de borracha vulcanizada não endurecida, ...",México,Vinhedo
3,sp,473,14008,2023-11-01,"Tubos de borracha vulcanizada não endurecida, ...",México,Vinhedo
4,sp,473,14008,2023-11-01,"Tubos de borracha vulcanizada não endurecida, ...",México,Vinhedo

In [22]:
def padronizar_colunas(df, colunas):
    """
    Remove espaços extras e converte os valores das colunas especificadas para minúsculas.

    Parâmetros:
        df (pd.DataFrame): DataFrame de entrada.
        colunas (list): Lista de colunas a serem padronizadas.

    Retorna:
        pd.DataFrame: DataFrame com as colunas padronizadas.
    """
    df[colunas] = df[colunas].apply(lambda x: x.str.strip().str.lower())
    return df

df_4 = padronizar_colunas(df_3, ['cd_sh4', 'cd_pais', 'cd_mun'])
df_4.head()

,sg_ufmun,kg_liquido,vl_dolarfob,data_exportacao_mun,cd_sh4,cd_pais,cd_mun
0,ba,36,53,2023-10-01,vinagres e seus sucedâneos obtidos a partir do...,cabo verde,luís eduardo magalhães
1,sp,473,14008,2023-11-01,"tubos de borracha vulcanizada não endurecida, ...",méxico,vinhedo
2,sp,473,14008,2023-11-01,"tubos de borracha vulcanizada não endurecida, ...",méxico,vinhedo
3,sp,473,14008,2023-11-01,"tubos de borracha vulcanizada não endurecida, ...",méxico,vinhedo
4,sp,473,14008,2023-11-01,"tubos de borracha vulcanizada não endurecida, ...",méxico,vinhedo

In [24]:
caminho = "/home/edcarlos/Data-Analytics-Comercio-Exterior/datalake/silver/exportacao_mun_2023_m.csv" #salvando as alterações em outro arquivo
df_4.to_csv(caminho, index=False)
print("Arquivo salvo com sucesso!")

Arquivo salvo com sucesso!