In [26]:
import pandas as pd
# Caminho do arquivo
caminho_arquivo = r'\\wsl$\Ubuntu\home\edcarlos\work_environment\datalake\landing\exportacao_2023.csv' #foi nomeado dessa forma porque não encontrou o arquivo porque está no wsl2
# Lendo o CSV para um DataFrame
df = pd.read_csv(caminho_arquivo, sep=',')
# Exibir as primeiras linhas do DataFrame
df.head()

,cd_ncm,cd_unidade,cd_pais,sg_ufncm,cd_via,cd_urf,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao
0,84139190,10,160,RJ,4,817700,107365,5,20,2023-03-01
1,73182100,10,764,SP,1,817800,0,0,84,2023-12-01
2,84219999,10,40,RS,4,817600,2,2,758,2023-04-01
3,85291090,10,63,RJ,7,1017503,1,1,275,2023-05-01
4,84825010,11,63,MG,7,1017503,2,0,9,2023-10-01

In [27]:
# Caminho do arquivo
caminho_arquivo = r'\\wsl$\Ubuntu\home\edcarlos\work_environment\datalake\raw_data\PAIS.csv' #foi nomeado dessa forma porque não encontrou o arquivo porque está no wsl2
# Lendo o CSV para um DataFrame
df = pd.read_csv(caminho_arquivo, sep=';',  encoding='latin1')  #encoding define como os caracteres são armazenados em um arquivo de texto, precisei colocar porque não reconheceu
# Exibir as primeiras linhas do DataFrame
df.head() #gosto de verificar como ficou as modificações, é sempre bom

,CO_PAIS,CO_PAIS_ISON3,CO_PAIS_ISOA3,NO_PAIS,NO_PAIS_ING,NO_PAIS_ESP
0,0,898,ZZZ,Não Definido,Not defined,No definido
1,13,4,AFG,Afeganistão,Afghanistan,Afganistan
2,15,248,ALA,"Aland, Ilhas",Aland Islands,"Alans, Islas"
3,17,8,ALB,Albânia,Albania,Albania
4,20,724,ESP,"Alboran-Perejil, Ilhas","Alboran-Perejil, Islands","Alboran-Perejil, Islas"

In [28]:
# Caminho dos arquivos
arquivo_exportacao = r'\\wsl$\Ubuntu\home\edcarlos\work_environment\datalake\landing\exportacao_2023.csv'
arquivo_pais = r'\\wsl$\Ubuntu\home\edcarlos\work_environment\datalake\raw_data\PAIS.csv'

# Carregar o arquivo principal que contém a coluna cd_pais
df = pd.read_csv(arquivo_exportacao, sep=',', encoding='latin1')

# Carregar o arquivo que contém os códigos e nomes dos países
df_paises = pd.read_csv(arquivo_pais, sep=';', encoding='latin1')

# Garantir que cd_pais seja string
df['cd_pais'] = df['cd_pais'].astype(str)

# Garantir que CO_PAIS seja string
df_paises['CO_PAIS'] = df_paises['CO_PAIS'].astype(str)

# Fazer o merge para substituir os códigos pelos nomes dos países
df = df.merge(df_paises, left_on='cd_pais', right_on='CO_PAIS', how='left')

# Exibir as primeiras linhas para verificar se deu certo
df.head()

,cd_ncm,cd_unidade,cd_pais,sg_ufncm,cd_via,cd_urf,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,CO_PAIS,CO_PAIS_ISON3,CO_PAIS_ISOA3,NO_PAIS,NO_PAIS_ING,NO_PAIS_ESP
0,84139190,10,160,RJ,4,817700,107365,5,20,2023-03-01,160,156,CHN,China,China,China
1,73182100,10,764,SP,1,817800,0,0,84,2023-12-01,764,752,SWE,Suécia,Sweden,Suecia
2,84219999,10,40,RS,4,817600,2,2,758,2023-04-01,40,24,AGO,Angola,Angola,Angola
3,85291090,10,63,RJ,7,1017503,1,1,275,2023-05-01,63,32,ARG,Argentina,Argentina,Argentina
4,84825010,11,63,MG,7,1017503,2,0,9,2023-10-01,63,32,ARG,Argentina,Argentina,Argentina

In [29]:
df = df.drop(columns=['cd_pais', 'CO_PAIS', 'CO_PAIS_ISON3', 'CO_PAIS_ISOA3', 'NO_PAIS_ING', 'NO_PAIS_ESP']) #o método é usado para remover colunas ou linhas do dataframe
df.head()

,cd_ncm,cd_unidade,sg_ufncm,cd_via,cd_urf,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,NO_PAIS
0,84139190,10,RJ,4,817700,107365,5,20,2023-03-01,China
1,73182100,10,SP,1,817800,0,0,84,2023-12-01,Suécia
2,84219999,10,RS,4,817600,2,2,758,2023-04-01,Angola
3,85291090,10,RJ,7,1017503,1,1,275,2023-05-01,Argentina
4,84825010,11,MG,7,1017503,2,0,9,2023-10-01,Argentina

In [30]:
# Caminho do arquivo / apenas fiz a verificação das colunas que estavam no arquivo
caminho_arquivo = r'\\wsl$\Ubuntu\home\edcarlos\work_environment\datalake\raw_data\URF.csv' #foi nomeado dessa forma porque não encontrou o arquivo porque está no wsl2
# Lendo o CSV para um DataFrame
df1 = pd.read_csv(caminho_arquivo, sep=';',  encoding='latin1')  #caso esse encoding não funcionasse eu iria tentar 'ISO-8859-1'
# Exibir as primeiras linhas do DataFrame
df1.head()

   CO_URF                                             NO_URF
0     910  0000910 - SEFAZ-SC - CONVENIO CONSULTA SISTEMA...
1  110100                                 0110100 - BRASILIA
2  117600      0117600 - AEROPORTO INTERNACIONAL DE BRASILIA
3  120100                                  0120100 - GOIANIA
4  120102                                  0120102 - CATALAO

In [31]:
# Caminho do arquivo URF
arquivo_urf = r'\\wsl$\Ubuntu\home\edcarlos\work_environment\datalake\raw_data\URF.csv'

# Carregar o arquivo que contém os códigos e nomes das URFs
df_urf1 = pd.read_csv(arquivo_urf, sep=';', encoding='latin1')

# Garantir que cd_urf e CO_URF sejam do mesmo tipo
df1 = df['cd_urf'] = df['cd_urf'].astype(str)
df_urf1['CO_URF'] = df_urf1['CO_URF'].astype(str)

# Fazer o merge para substituir os códigos pelos nomes das URFs
df1 = df.merge(df_urf1, left_on='cd_urf', right_on='CO_URF', how='left')

# Exibir as primeiras linhas para verificar se deu certo
df1.head()

,cd_ncm,cd_unidade,sg_ufncm,cd_via,cd_urf,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,NO_PAIS,CO_URF,NO_URF
0,84139190,10,RJ,4,817700,107365,5,20,2023-03-01,China,817700,0817700 - AEROPORTO INTERNACIONAL DE VIRACOPOS
1,73182100,10,SP,1,817800,0,0,84,2023-12-01,Suécia,817800,0817800 - PORTO DE SANTOS
2,84219999,10,RS,4,817600,2,2,758,2023-04-01,Angola,817600,0817600 - AEROPORTO INTERNACIONAL DE SAO PAULO...
3,85291090,10,RJ,7,1017503,1,1,275,2023-05-01,Argentina,1017503,1017503 - IRF - SÃO BORJA
4,84825010,11,MG,7,1017503,2,0,9,2023-10-01,Argentina,1017503,1017503 - IRF - SÃO BORJA

In [32]:
df2 = df1.drop(['cd_urf', 'CO_URF'], axis=1) #remove as colunas que não precisava
df2.head()

,cd_ncm,cd_unidade,sg_ufncm,cd_via,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,NO_PAIS,NO_URF
0,84139190,10,RJ,4,107365,5,20,2023-03-01,China,0817700 - AEROPORTO INTERNACIONAL DE VIRACOPOS
1,73182100,10,SP,1,0,0,84,2023-12-01,Suécia,0817800 - PORTO DE SANTOS
2,84219999,10,RS,4,2,2,758,2023-04-01,Angola,0817600 - AEROPORTO INTERNACIONAL DE SAO PAULO...
3,85291090,10,RJ,7,1,1,275,2023-05-01,Argentina,1017503 - IRF - SÃO BORJA
4,84825010,11,MG,7,2,0,9,2023-10-01,Argentina,1017503 - IRF - SÃO BORJA

In [33]:
# Caminho do arquivo
caminho_arquivo = r'\\wsl$\Ubuntu\home\edcarlos\work_environment\datalake\raw_data\NCM.csv' #foi nomeado dessa forma porque não encontrou o arquivo porque está no wsl2
# Lendo o CSV para um DataFrame
df_ncm = pd.read_csv(caminho_arquivo, sep=';',  encoding='latin1')  # Ou 'ISO-8859-1'
# Exibir as primeiras linhas do DataFrame
df_ncm.head()

,CO_NCM,CO_UNID,CO_SH6,CO_PPE,CO_PPI,CO_FAT_AGREG,CO_CUCI_ITEM,CO_CGCE_N3,CO_SIIT,CO_ISIC_CLASSE,CO_EXP_SUBSET,NO_NCM_POR,NO_NCM_ESP,NO_NCM_ING
0,49011000,10,490110,3521.0,3521.0,3.0,89215,322,9000.0,5811,8099.0,"Livros, brochuras e impressos semelhantes, em ...","Libros, folletos, impresos similares, en hojas...","Books, brochures, similar printed papers, in s..."
1,49019100,10,490191,3521.0,3521.0,3.0,89216,322,9000.0,5811,8099.0,"Dicionários e enciclopédias, mesmo em fascículos","Diccionarios y enciclopedias, incluso en fascí...","Dictionaries and encyclopaedias, serial instal..."
2,49019900,10,490199,3521.0,3521.0,3.0,89219,322,9000.0,5811,8099.0,"Outros livros, brochuras e impressos semelhantes","Otros libros, folletos y impresos similares","Oth.printed books, brochures and similar printed"
3,49021000,10,490210,3521.0,3521.0,3.0,89221,322,9000.0,5813,8099.0,"Jornais e publicações periódicas, impressos, m...","Diarios y publicaciones, impresos, periodo>=4 ...","Newspapers, journals, printed, periodical>=4 t..."
4,52102910,10,521029,3840.0,3840.0,3.0,65251,240,4000.0,1312,1605.0,Tecidos de algodão que contenham menos de 85 %...,"Tejidos de algodón, blanqueados, con fibras si...","Fabrics of cotton, bleached, synthetic or arti..."

In [34]:
# Caminho do arquivo URF
arquivo_urf = r'\\wsl$\Ubuntu\home\edcarlos\work_environment\datalake\raw_data\NCM.csv'

# Carregar o arquivo que contém os códigos e nomes NCM
df_ncm = pd.read_csv(arquivo_urf, sep=';', encoding='latin1')

# Garantir que cd_ncm e CO_NCM sejam do mesmo tipo
df3 = df2['cd_ncm'] = df2['cd_ncm'].astype(str)
df_ncm['CO_NCM'] = df_ncm['CO_NCM'].astype(str)

# Fazer o merge para substituir os códigos pelos nomes das NCMs
df3 = df2.merge(df_ncm, left_on='cd_ncm', right_on='CO_NCM', how='left')

# Exibir as primeiras linhas para verificar se deu certo
df3.head()

,cd_ncm,cd_unidade,sg_ufncm,cd_via,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,NO_PAIS,NO_URF,...,CO_PPI,CO_FAT_AGREG,CO_CUCI_ITEM,CO_CGCE_N3,CO_SIIT,CO_ISIC_CLASSE,CO_EXP_SUBSET,NO_NCM_POR,NO_NCM_ESP,NO_NCM_ING
0,84139190,10,RJ,4,107365,5,20,2023-03-01,China,0817700 - AEROPORTO INTERNACIONAL DE VIRACOPOS,...,3060.0,3.0,74291,270,2000.0,2813,901.0,Outras partes de bombas para líquidos,Otras partes de bombas para líquidos,Other parts of pumps for liquids
1,73182100,10,SP,1,0,0,84,2023-12-01,Suécia,0817800 - PORTO DE SANTOS,...,3671.0,3.0,69422,240,3000.0,2599,1599.0,Arruelas de pressão e outras arruelas de segur...,"Arandelas de muelle y de seguridad, de fundici...","Pressure or safety washers, of cast iron, etc"
2,84219999,10,RS,4,2,2,758,2023-04-01,Angola,0817600 - AEROPORTO INTERNACIONAL DE SAO PAULO...,...,3369.0,3.0,74395,270,2000.0,2819,912.0,Outras partes de aparelhos para filtrar ou dep...,Las dem.partes de apars.p/filtrar o depurar lí...,Oth.machinery parts f/filtering or purifying l...
3,85291090,10,RJ,7,1,1,275,2023-05-01,Argentina,1017503 - IRF - SÃO BORJA,...,3431.0,3.0,76493,270,1000.0,2640,1103.0,"Outras antenas e refletores de antenas, e suas...","Las dem.antenas y reflectores de antenas, y su...","Other aerials and aerial reflectors, its parts"
4,84825010,11,MG,7,2,0,9,2023-10-01,Argentina,1017503 - IRF - SÃO BORJA,...,3777.0,3.0,7465,270,2000.0,2814,911.0,"Rolamentos de roletes cilíndricos, de carga ra...","Rodamientos de rodillos cilíndricos, radiales","Cylindrical roller bearings, radial"

In [35]:
print(type(df3))  # Verifica se é Series ou DataFrame / fiz essa verificação porque estava apresentando erro, caso persistisse eu precisava padronizar as colunas
print(df3.shape)  # Mostra quantas linhas e colunas existem

<class 'pandas.core.frame.DataFrame'>
(1563659, 24)

In [36]:
#fiz a remoção das colunas que não precisava
df3 = df3.drop(columns=['cd_ncm', 'CO_PPI', 'CO_FAT_AGREG', 'CO_CUCI_ITEM', 'CO_CGCE_N3', 'CO_SIIT', 'CO_ISIC_CLASSE', 'CO_EXP_SUBSET', 'NO_NCM_ESP', 'NO_NCM_ING', 'CO_PPE', 'CO_NCM', 'CO_SH6', 'CO_UNID'])
df3.head()

,cd_unidade,sg_ufncm,cd_via,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,NO_PAIS,NO_URF,NO_NCM_POR
0,10,RJ,4,107365,5,20,2023-03-01,China,0817700 - AEROPORTO INTERNACIONAL DE VIRACOPOS,Outras partes de bombas para líquidos
1,10,SP,1,0,0,84,2023-12-01,Suécia,0817800 - PORTO DE SANTOS,Arruelas de pressão e outras arruelas de segur...
2,10,RS,4,2,2,758,2023-04-01,Angola,0817600 - AEROPORTO INTERNACIONAL DE SAO PAULO...,Outras partes de aparelhos para filtrar ou dep...
3,10,RJ,7,1,1,275,2023-05-01,Argentina,1017503 - IRF - SÃO BORJA,"Outras antenas e refletores de antenas, e suas..."
4,11,MG,7,2,0,9,2023-10-01,Argentina,1017503 - IRF - SÃO BORJA,"Rolamentos de roletes cilíndricos, de carga ra..."

In [37]:
print(type(df3))  # Verifica se é Series ou DataFrame
print(df3.shape)  # Mostra quantas linhas e colunas existem

<class 'pandas.core.frame.DataFrame'>
(1563659, 10)

In [38]:
#as colunas precisavam ser renomeadas para ficar com o mesmo padrão
df4 = df3.rename(columns={  
    'cd_unidade': 'cd_unidade',
    'sg_ufncm': 'sg_ufncm',
    'cd_via': 'cd_via',
    'qt_estatistica': 'qt_estatistica',
    'kg_liquido': 'kg_liquido',
    'vl_dolarfob': 	'vl_dolarfob',
    'data_exportacao': 'data_exportacao',
    'NO_PAIS': 'cd_pais',
    'NO_URF': 'cd_urf',
    'NO_NCM_POR': 'cd_ncm'
    
    })
df3.columns = df3.columns.str.strip().str.lower().str.replace(' ', '_')
df4.head()

,cd_unidade,sg_ufncm,cd_via,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,cd_pais,cd_urf,cd_ncm
0,10,RJ,4,107365,5,20,2023-03-01,China,0817700 - AEROPORTO INTERNACIONAL DE VIRACOPOS,Outras partes de bombas para líquidos
1,10,SP,1,0,0,84,2023-12-01,Suécia,0817800 - PORTO DE SANTOS,Arruelas de pressão e outras arruelas de segur...
2,10,RS,4,2,2,758,2023-04-01,Angola,0817600 - AEROPORTO INTERNACIONAL DE SAO PAULO...,Outras partes de aparelhos para filtrar ou dep...
3,10,RJ,7,1,1,275,2023-05-01,Argentina,1017503 - IRF - SÃO BORJA,"Outras antenas e refletores de antenas, e suas..."
4,11,MG,7,2,0,9,2023-10-01,Argentina,1017503 - IRF - SÃO BORJA,"Rolamentos de roletes cilíndricos, de carga ra..."

In [39]:
df4['sg_ufncm'] = df4['sg_ufncm'].str.strip().str.lower() #deixei a coluna sg_ufncm em minúscula
df4.head()

,cd_unidade,sg_ufncm,cd_via,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,cd_pais,cd_urf,cd_ncm
0,10,rj,4,107365,5,20,2023-03-01,China,0817700 - AEROPORTO INTERNACIONAL DE VIRACOPOS,Outras partes de bombas para líquidos
1,10,sp,1,0,0,84,2023-12-01,Suécia,0817800 - PORTO DE SANTOS,Arruelas de pressão e outras arruelas de segur...
2,10,rs,4,2,2,758,2023-04-01,Angola,0817600 - AEROPORTO INTERNACIONAL DE SAO PAULO...,Outras partes de aparelhos para filtrar ou dep...
3,10,rj,7,1,1,275,2023-05-01,Argentina,1017503 - IRF - SÃO BORJA,"Outras antenas e refletores de antenas, e suas..."
4,11,mg,7,2,0,9,2023-10-01,Argentina,1017503 - IRF - SÃO BORJA,"Rolamentos de roletes cilíndricos, de carga ra..."

In [40]:
#deixei as linas das colunas com letras minúsculas
df4['cd_pais'] = df4['cd_pais'].str.lower()
df4['cd_urf'] = df4['cd_urf'].str.lower()
df4['cd_ncm'] = df4['cd_ncm'].str.lower()
df4.head()

,cd_unidade,sg_ufncm,cd_via,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,cd_pais,cd_urf,cd_ncm
0,10,rj,4,107365,5,20,2023-03-01,china,0817700 - aeroporto internacional de viracopos,outras partes de bombas para líquidos
1,10,sp,1,0,0,84,2023-12-01,suécia,0817800 - porto de santos,arruelas de pressão e outras arruelas de segur...
2,10,rs,4,2,2,758,2023-04-01,angola,0817600 - aeroporto internacional de sao paulo...,outras partes de aparelhos para filtrar ou dep...
3,10,rj,7,1,1,275,2023-05-01,argentina,1017503 - irf - são borja,"outras antenas e refletores de antenas, e suas..."
4,11,mg,7,2,0,9,2023-10-01,argentina,1017503 - irf - são borja,"rolamentos de roletes cilíndricos, de carga ra..."

In [41]:
#salvei o arquivo na camada prata, após fazer substituição de códigos por descrição, como: código do país pelo respectivo nome, deixando padronizados e o conteúdo das linhas em minúsculo 
caminho = "/home/edcarlos/work_environment/datalake/silver/exportacao_2023_m.csv"
df4.to_csv(caminho, index=False)
print("Arquivo salvo com sucesso!")

Arquivo salvo com sucesso!