In [74]:
import pandas as pd
# Caminho do arquivo
url_exp_2023 = r'\\wsl$\Ubuntu\home\edcarlos\Data-Analytics-Comercio-Exterior\datalake\landing\exportacao_2023.csv' #foi nomeado dessa forma porque não encontrou o arquivo porque está no wsl2
# Lendo o CSV para um DataFrame
df = pd.read_csv(url_exp_2023, sep=',')
# Exibir as primeiras linhas do DataFrame
df.head()

,cd_ncm,cd_unidade,cd_pais,sg_ufncm,cd_via,cd_urf,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao
0,84139190,10,160,rj,4,817700,107365,5,20,2023-03-01
1,73182100,10,764,sp,1,817800,0,0,84,2023-12-01
2,84219999,10,40,rs,4,817600,2,2,758,2023-04-01
3,85291090,10,63,rj,7,1017503,1,1,275,2023-05-01
4,84825010,11,63,mg,7,1017503,2,0,9,2023-10-01

In [75]:
# Caminho do arquivo
url_pais = r'\\wsl$\Ubuntu\home\edcarlos\Data-Analytics-Comercio-Exterior\datalake\raw_data\PAIS.csv' #foi nomeado dessa forma porque não encontrou o arquivo porque está no wsl2
# Lendo o CSV para um DataFrame
df = pd.read_csv(url_pais, sep=';',  encoding='latin1')  #encoding define como os caracteres são armazenados em um arquivo de texto, precisei colocar porque não reconheceu
# Exibir as primeiras linhas do DataFrame
df.head() #gosto de verificar como ficou as modificações, é sempre bom

,CO_PAIS,CO_PAIS_ISON3,CO_PAIS_ISOA3,NO_PAIS,NO_PAIS_ING,NO_PAIS_ESP
0,0,898,ZZZ,Não Definido,Not defined,No definido
1,13,4,AFG,Afeganistão,Afghanistan,Afganistan
2,15,248,ALA,"Aland, Ilhas",Aland Islands,"Alans, Islas"
3,17,8,ALB,Albânia,Albania,Albania
4,20,724,ESP,"Alboran-Perejil, Ilhas","Alboran-Perejil, Islands","Alboran-Perejil, Islas"

In [76]:
def carregar_e_mesclar_arquivos(url_exp_2023: str, url_pais: str, 
                                chave_principal: str, chave_referencia: str, 
                                sep_principal: str = ',', sep_referencia: str = ';', 
                                encoding: str = 'latin1'):
    
    # Carregar os arquivos dentro da função
    df_exp_2023 = pd.read_csv(url_exp_2023, sep=sep_principal, encoding=encoding)
    df_pais = pd.read_csv(url_pais, sep=sep_referencia, encoding=encoding)

    # Garantir que as colunas de chave sejam strings
    df_exp_2023[chave_principal] = df_exp_2023[chave_principal].astype(str)
    df_pais[chave_referencia] = df_pais[chave_referencia].astype(str)

    # Realizar o merge
    df_resultado = df_exp_2023.merge(df_pais, left_on=chave_principal, right_on=chave_referencia, how='left')

    return df_resultado

# Exemplo de uso
df_1 = carregar_e_mesclar_arquivos(
    url_exp_2023=r'\\wsl$\Ubuntu\home\edcarlos\Data-Analytics-Comercio-Exterior\datalake\landing\exportacao_2023.csv',
    url_pais=r'\\wsl$\Ubuntu\home\edcarlos\Data-Analytics-Comercio-Exterior\datalake\raw_data\PAIS.csv',
    chave_principal='cd_pais',
    chave_referencia='CO_PAIS'
)

# Exibir as primeiras linhas para verificar
df_1.head()

,cd_ncm,cd_unidade,cd_pais,sg_ufncm,cd_via,cd_urf,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,CO_PAIS,CO_PAIS_ISON3,CO_PAIS_ISOA3,NO_PAIS,NO_PAIS_ING,NO_PAIS_ESP
0,84139190,10,160,rj,4,817700,107365,5,20,2023-03-01,160,156,CHN,China,China,China
1,73182100,10,764,sp,1,817800,0,0,84,2023-12-01,764,752,SWE,Suécia,Sweden,Suecia
2,84219999,10,40,rs,4,817600,2,2,758,2023-04-01,40,24,AGO,Angola,Angola,Angola
3,85291090,10,63,rj,7,1017503,1,1,275,2023-05-01,63,32,ARG,Argentina,Argentina,Argentina
4,84825010,11,63,mg,7,1017503,2,0,9,2023-10-01,63,32,ARG,Argentina,Argentina,Argentina

In [77]:
print(df_1.columns)

Index(['cd_ncm', 'cd_unidade', 'cd_pais', 'sg_ufncm', 'cd_via', 'cd_urf',
       'qt_estatistica', 'kg_liquido', 'vl_dolarfob', 'data_exportacao',
       'CO_PAIS', 'CO_PAIS_ISON3', 'CO_PAIS_ISOA3', 'NO_PAIS', 'NO_PAIS_ING',
       'NO_PAIS_ESP'],
      dtype='object')

In [78]:
df_1 = df_1.drop(columns=['cd_pais', 'CO_PAIS', 'CO_PAIS_ISON3', 
        'CO_PAIS_ISOA3', 'NO_PAIS_ING', 'NO_PAIS_ESP']) #o método é usado para remover colunas ou linhas do dataframe
df_1.head()

,cd_ncm,cd_unidade,sg_ufncm,cd_via,cd_urf,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,NO_PAIS
0,84139190,10,rj,4,817700,107365,5,20,2023-03-01,China
1,73182100,10,sp,1,817800,0,0,84,2023-12-01,Suécia
2,84219999,10,rs,4,817600,2,2,758,2023-04-01,Angola
3,85291090,10,rj,7,1017503,1,1,275,2023-05-01,Argentina
4,84825010,11,mg,7,1017503,2,0,9,2023-10-01,Argentina

In [79]:
# Caminho do arquivo / apenas fiz a verificação das colunas que estavam no arquivo
url_urf = r'\\wsl$\Ubuntu\home\edcarlos\Data-Analytics-Comercio-Exterior\datalake\raw_data\URF.csv' #foi nomeado dessa forma porque não encontrou o arquivo porque está no wsl2
# Lendo o CSV para um DataFrame
df_urf = pd.read_csv(url_urf, sep=';',  encoding='latin1')  #caso esse encoding não funcionasse eu iria tentar 'ISO-8859-1'
# Exibir as primeiras linhas do DataFrame
df_urf.head()

   CO_URF                                             NO_URF
0     910  0000910 - SEFAZ-SC - CONVENIO CONSULTA SISTEMA...
1  110100                                 0110100 - BRASILIA
2  117600      0117600 - AEROPORTO INTERNACIONAL DE BRASILIA
3  120100                                  0120100 - GOIANIA
4  120102                                  0120102 - CATALAO

In [80]:
# Função para mesclar os DataFrames já carregados
def mesclar_dataframes(df_base: pd.DataFrame, df_referencia: pd.DataFrame, 
                       chave_base: str, chave_referencia: str) -> pd.DataFrame:
    """
    Realiza a junção (merge) entre a base principal e o DataFrame de referência.
    """
    # Garantir que as colunas usadas no merge sejam strings
    df_base[chave_base] = df_base[chave_base].astype(str)
    df_referencia[chave_referencia] = df_referencia[chave_referencia].astype(str)

    # Realizar o merge
    df_resultante = df_base.merge(df_referencia, left_on=chave_base, right_on=chave_referencia, how='left')
    
    return df_resultante

# Exemplo de aplicação da função

# Já carregados anteriormente
# df_1 (base principal) e df_urf (referência) já estão definidos

# Mesclar os DataFrames
df_2 = mesclar_dataframes(df_base=df_1, df_referencia=df_urf, chave_base='cd_urf', chave_referencia='CO_URF')

# Exibir as primeiras linhas do DataFrame resultante
df_2.head()

,cd_ncm,cd_unidade,sg_ufncm,cd_via,cd_urf,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,NO_PAIS,CO_URF,NO_URF
0,84139190,10,rj,4,817700,107365,5,20,2023-03-01,China,817700,0817700 - AEROPORTO INTERNACIONAL DE VIRACOPOS
1,73182100,10,sp,1,817800,0,0,84,2023-12-01,Suécia,817800,0817800 - PORTO DE SANTOS
2,84219999,10,rs,4,817600,2,2,758,2023-04-01,Angola,817600,0817600 - AEROPORTO INTERNACIONAL DE SAO PAULO...
3,85291090,10,rj,7,1017503,1,1,275,2023-05-01,Argentina,1017503,1017503 - IRF - SÃO BORJA
4,84825010,11,mg,7,1017503,2,0,9,2023-10-01,Argentina,1017503,1017503 - IRF - SÃO BORJA

In [81]:
# Etapa 1: Extrair o código da coluna NO_URF
df_2['urf_codigo'] = df_2['NO_URF'].str.extract(r'^(\d+)\s*-\s*')

# Etapa 2: Remover o código e deixar só as informações
df_2['urf_info'] = df_2['NO_URF'].str.replace(r'^\d+\s*-\s*', '', regex=True)

# Etapa 3: Separar tipo e nome, se existir
def separar_info(valor):
    partes = valor.split(' - ')
    if len(partes) == 2:
        tipo, nome = partes
    else:
        tipo = None
        nome = valor
    return pd.Series([tipo, nome])

df_2[['urf_tipo', 'urf_nome']] = df_2['urf_info'].apply(separar_info)

# Etapa 4: Limpar colunas temporárias
df_2.drop(columns=['NO_URF', 'urf_info'], inplace=True)
df_2.head()

,cd_ncm,cd_unidade,sg_ufncm,cd_via,cd_urf,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,NO_PAIS,CO_URF,urf_codigo,urf_tipo,urf_nome
0,84139190,10,rj,4,817700,107365,5,20,2023-03-01,China,817700,0817700,None,AEROPORTO INTERNACIONAL DE VIRACOPOS
1,73182100,10,sp,1,817800,0,0,84,2023-12-01,Suécia,817800,0817800,None,PORTO DE SANTOS
2,84219999,10,rs,4,817600,2,2,758,2023-04-01,Angola,817600,0817600,None,AEROPORTO INTERNACIONAL DE SAO PAULO/GUARULHOS
3,85291090,10,rj,7,1017503,1,1,275,2023-05-01,Argentina,1017503,1017503,IRF,SÃO BORJA
4,84825010,11,mg,7,1017503,2,0,9,2023-10-01,Argentina,1017503,1017503,IRF,SÃO BORJA

In [82]:
df_2 = df_2.drop(['cd_urf', 'CO_URF', 'urf_codigo', 'urf_tipo'], axis=1) #removendo colunas
df_2.head()

,cd_ncm,cd_unidade,sg_ufncm,cd_via,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,NO_PAIS,urf_nome
0,84139190,10,rj,4,107365,5,20,2023-03-01,China,AEROPORTO INTERNACIONAL DE VIRACOPOS
1,73182100,10,sp,1,0,0,84,2023-12-01,Suécia,PORTO DE SANTOS
2,84219999,10,rs,4,2,2,758,2023-04-01,Angola,AEROPORTO INTERNACIONAL DE SAO PAULO/GUARULHOS
3,85291090,10,rj,7,1,1,275,2023-05-01,Argentina,SÃO BORJA
4,84825010,11,mg,7,2,0,9,2023-10-01,Argentina,SÃO BORJA

In [83]:
# Caminho do arquivo
url_ncm = r'\\wsl$\Ubuntu\home\edcarlos\Data-Analytics-Comercio-Exterior\datalake\raw_data\NCM.csv' #foi nomeado dessa forma porque não encontrou o arquivo porque está no wsl2
# Lendo o CSV para um DataFrame
df_ncm = pd.read_csv(url_ncm, sep=';',  encoding='latin1')  # Ou 'ISO-8859-1'
# Exibir as primeiras linhas do DataFrame
df_ncm.head()

,CO_NCM,CO_UNID,CO_SH6,CO_PPE,CO_PPI,CO_FAT_AGREG,CO_CUCI_ITEM,CO_CGCE_N3,CO_SIIT,CO_ISIC_CLASSE,CO_EXP_SUBSET,NO_NCM_POR,NO_NCM_ESP,NO_NCM_ING
0,49011000,10,490110,3521.0,3521.0,3.0,89215,322,9000.0,5811,8099.0,"Livros, brochuras e impressos semelhantes, em ...","Libros, folletos, impresos similares, en hojas...","Books, brochures, similar printed papers, in s..."
1,49019100,10,490191,3521.0,3521.0,3.0,89216,322,9000.0,5811,8099.0,"Dicionários e enciclopédias, mesmo em fascículos","Diccionarios y enciclopedias, incluso en fascí...","Dictionaries and encyclopaedias, serial instal..."
2,49019900,10,490199,3521.0,3521.0,3.0,89219,322,9000.0,5811,8099.0,"Outros livros, brochuras e impressos semelhantes","Otros libros, folletos y impresos similares","Oth.printed books, brochures and similar printed"
3,49021000,10,490210,3521.0,3521.0,3.0,89221,322,9000.0,5813,8099.0,"Jornais e publicações periódicas, impressos, m...","Diarios y publicaciones, impresos, periodo>=4 ...","Newspapers, journals, printed, periodical>=4 t..."
4,52102910,10,521029,3840.0,3840.0,3.0,65251,240,4000.0,1312,1605.0,Tecidos de algodão que contenham menos de 85 %...,"Tejidos de algodón, blanqueados, con fibras si...","Fabrics of cotton, bleached, synthetic or arti..."

In [84]:
# Função para mesclar os DataFrames já carregados
def mesclar_dataframes(df_base: pd.DataFrame, df_referencia: pd.DataFrame, 
                       chave_base: str, chave_referencia: str) -> pd.DataFrame:
    """
    Realiza a junção (merge) entre a base principal e o DataFrame de referência.
    """
    # Garantir que as colunas usadas no merge sejam strings
    df_base[chave_base] = df_base[chave_base].astype(str)
    df_referencia[chave_referencia] = df_referencia[chave_referencia].astype(str)

    # Realizar o merge
    df_resultante = df_base.merge(df_referencia, left_on=chave_base, right_on=chave_referencia, how='left')
    
    return df_resultante

# Exemplo de aplicação da função

# Já carregados anteriormente
# df2 (base principal) e df_uf_mun (referência) já estão definidos

# Mesclar os DataFrames
df_3 = mesclar_dataframes(df_base=df_2, df_referencia=df_ncm, chave_base='cd_ncm', chave_referencia='CO_NCM')

# Exibir as primeiras linhas do DataFrame resultante
df_3.head()

,cd_ncm,cd_unidade,sg_ufncm,cd_via,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,NO_PAIS,urf_nome,...,CO_PPI,CO_FAT_AGREG,CO_CUCI_ITEM,CO_CGCE_N3,CO_SIIT,CO_ISIC_CLASSE,CO_EXP_SUBSET,NO_NCM_POR,NO_NCM_ESP,NO_NCM_ING
0,84139190,10,rj,4,107365,5,20,2023-03-01,China,AEROPORTO INTERNACIONAL DE VIRACOPOS,...,3060.0,3.0,74291,270,2000.0,2813,901.0,Outras partes de bombas para líquidos,Otras partes de bombas para líquidos,Other parts of pumps for liquids
1,73182100,10,sp,1,0,0,84,2023-12-01,Suécia,PORTO DE SANTOS,...,3671.0,3.0,69422,240,3000.0,2599,1599.0,Arruelas de pressão e outras arruelas de segur...,"Arandelas de muelle y de seguridad, de fundici...","Pressure or safety washers, of cast iron, etc"
2,84219999,10,rs,4,2,2,758,2023-04-01,Angola,AEROPORTO INTERNACIONAL DE SAO PAULO/GUARULHOS,...,3369.0,3.0,74395,270,2000.0,2819,912.0,Outras partes de aparelhos para filtrar ou dep...,Las dem.partes de apars.p/filtrar o depurar lí...,Oth.machinery parts f/filtering or purifying l...
3,85291090,10,rj,7,1,1,275,2023-05-01,Argentina,SÃO BORJA,...,3431.0,3.0,76493,270,1000.0,2640,1103.0,"Outras antenas e refletores de antenas, e suas...","Las dem.antenas y reflectores de antenas, y su...","Other aerials and aerial reflectors, its parts"
4,84825010,11,mg,7,2,0,9,2023-10-01,Argentina,SÃO BORJA,...,3777.0,3.0,7465,270,2000.0,2814,911.0,"Rolamentos de roletes cilíndricos, de carga ra...","Rodamientos de rodillos cilíndricos, radiales","Cylindrical roller bearings, radial"

In [85]:
print(df_3.columns)

Index(['cd_ncm', 'cd_unidade', 'sg_ufncm', 'cd_via', 'qt_estatistica',
       'kg_liquido', 'vl_dolarfob', 'data_exportacao', 'NO_PAIS', 'urf_nome',
       'CO_NCM', 'CO_UNID', 'CO_SH6', 'CO_PPE', 'CO_PPI', 'CO_FAT_AGREG',
       'CO_CUCI_ITEM', 'CO_CGCE_N3', 'CO_SIIT', 'CO_ISIC_CLASSE',
       'CO_EXP_SUBSET', 'NO_NCM_POR', 'NO_NCM_ESP', 'NO_NCM_ING'],
      dtype='object')

In [86]:
#removendo colunas
df_3 = df_3.drop(columns=['cd_ncm', 
       'CO_NCM', 'CO_UNID', 'CO_SH6', 'CO_PPE', 'CO_PPI', 'CO_FAT_AGREG',
       'CO_CUCI_ITEM', 'CO_CGCE_N3', 'CO_SIIT', 'CO_ISIC_CLASSE',
       'CO_EXP_SUBSET', 'NO_NCM_ESP', 'NO_NCM_ING'])
df_3.head()

,cd_unidade,sg_ufncm,cd_via,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,NO_PAIS,urf_nome,NO_NCM_POR
0,10,rj,4,107365,5,20,2023-03-01,China,AEROPORTO INTERNACIONAL DE VIRACOPOS,Outras partes de bombas para líquidos
1,10,sp,1,0,0,84,2023-12-01,Suécia,PORTO DE SANTOS,Arruelas de pressão e outras arruelas de segur...
2,10,rs,4,2,2,758,2023-04-01,Angola,AEROPORTO INTERNACIONAL DE SAO PAULO/GUARULHOS,Outras partes de aparelhos para filtrar ou dep...
3,10,rj,7,1,1,275,2023-05-01,Argentina,SÃO BORJA,"Outras antenas e refletores de antenas, e suas..."
4,11,mg,7,2,0,9,2023-10-01,Argentina,SÃO BORJA,"Rolamentos de roletes cilíndricos, de carga ra..."

In [87]:
# Caminho do arquivo
url_ncm_unidade = r'\\wsl$\Ubuntu\home\edcarlos\Data-Analytics-Comercio-Exterior\datalake\raw_data\NCM_UNIDADE.csv' #foi nomeado dessa forma porque não encontrou o arquivo porque está no wsl2
# Lendo o CSV para um DataFrame
df_ncm_unidade = pd.read_csv(url_ncm_unidade, sep=';',  encoding='latin1')  # Ou 'ISO-8859-1'
# Exibir as primeiras linhas do DataFrame
df_ncm_unidade.head()

   CO_UNID             NO_UNID SG_UNID
0       10  QUILOGRAMA LIQUIDO   KGL
1       11    NUMERO (UNIDADE)   UNID.
2       12            MILHEIRO   MIL
3       13               PARES   PARES
4       14               METRO   M

In [88]:
# Função para mesclar os DataFrames já carregados
def mesclar_dataframes(df_base: pd.DataFrame, df_referencia: pd.DataFrame, 
                       chave_base: str, chave_referencia: str) -> pd.DataFrame:
    """
    Realiza a junção (merge) entre a base principal e o DataFrame de referência.
    """
    # Garantir que as colunas usadas no merge sejam strings
    df_base[chave_base] = df_base[chave_base].astype(str)
    df_referencia[chave_referencia] = df_referencia[chave_referencia].astype(str)

    # Realizar o merge
    df_resultante = df_base.merge(df_referencia, left_on=chave_base, right_on=chave_referencia, how='left')
    
    return df_resultante

# Exemplo de aplicação da função

# Já carregados anteriormente
# df2 (base principal) e df_uf_mun (referência) já estão definidos

# Mesclar os DataFrames
df_4 = mesclar_dataframes(df_base=df_3, df_referencia=df_ncm_unidade, chave_base='cd_unidade', chave_referencia='CO_UNID')

# Exibir as primeiras linhas do DataFrame resultante
df_4.head()

,cd_unidade,sg_ufncm,cd_via,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,NO_PAIS,urf_nome,NO_NCM_POR,CO_UNID,NO_UNID,SG_UNID
0,10,rj,4,107365,5,20,2023-03-01,China,AEROPORTO INTERNACIONAL DE VIRACOPOS,Outras partes de bombas para líquidos,10,QUILOGRAMA LIQUIDO,KGL
1,10,sp,1,0,0,84,2023-12-01,Suécia,PORTO DE SANTOS,Arruelas de pressão e outras arruelas de segur...,10,QUILOGRAMA LIQUIDO,KGL
2,10,rs,4,2,2,758,2023-04-01,Angola,AEROPORTO INTERNACIONAL DE SAO PAULO/GUARULHOS,Outras partes de aparelhos para filtrar ou dep...,10,QUILOGRAMA LIQUIDO,KGL
3,10,rj,7,1,1,275,2023-05-01,Argentina,SÃO BORJA,"Outras antenas e refletores de antenas, e suas...",10,QUILOGRAMA LIQUIDO,KGL
4,11,mg,7,2,0,9,2023-10-01,Argentina,SÃO BORJA,"Rolamentos de roletes cilíndricos, de carga ra...",11,NUMERO (UNIDADE),UNID.

In [89]:
print(df_4.columns)

Index(['cd_unidade', 'sg_ufncm', 'cd_via', 'qt_estatistica', 'kg_liquido',
       'vl_dolarfob', 'data_exportacao', 'NO_PAIS', 'urf_nome', 'NO_NCM_POR',
       'CO_UNID', 'NO_UNID', 'SG_UNID'],
      dtype='object')

In [90]:
#removendo colunas
df_4 = df_4.drop(columns=['cd_unidade',
       'CO_UNID', 'SG_UNID'])
df_4.head()

,sg_ufncm,cd_via,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,NO_PAIS,urf_nome,NO_NCM_POR,NO_UNID
0,rj,4,107365,5,20,2023-03-01,China,AEROPORTO INTERNACIONAL DE VIRACOPOS,Outras partes de bombas para líquidos,QUILOGRAMA LIQUIDO
1,sp,1,0,0,84,2023-12-01,Suécia,PORTO DE SANTOS,Arruelas de pressão e outras arruelas de segur...,QUILOGRAMA LIQUIDO
2,rs,4,2,2,758,2023-04-01,Angola,AEROPORTO INTERNACIONAL DE SAO PAULO/GUARULHOS,Outras partes de aparelhos para filtrar ou dep...,QUILOGRAMA LIQUIDO
3,rj,7,1,1,275,2023-05-01,Argentina,SÃO BORJA,"Outras antenas e refletores de antenas, e suas...",QUILOGRAMA LIQUIDO
4,mg,7,2,0,9,2023-10-01,Argentina,SÃO BORJA,"Rolamentos de roletes cilíndricos, de carga ra...",NUMERO (UNIDADE)

In [91]:
# Caminho do arquivo
url_via = r'\\wsl$\Ubuntu\home\edcarlos\Data-Analytics-Comercio-Exterior\datalake\raw_data\VIA.csv' #foi nomeado dessa forma porque não encontrou o arquivo porque está no wsl2
# Lendo o CSV para um DataFrame
df_via = pd.read_csv(url_via, sep=';',  encoding='latin1')  # Ou 'ISO-8859-1'
# Exibir as primeiras linhas do DataFrame
df_via.head()

   CO_VIA               NO_VIA
0      99     VIA DESCONHECIDA
1      13          POR REBOQUE
2      11              COURIER
3      15  VICINAL FRONTEIRICO
4      14                DUTOS

In [92]:
# Função para mesclar os DataFrames já carregados
def mesclar_dataframes(df_base: pd.DataFrame, df_referencia: pd.DataFrame, 
                       chave_base: str, chave_referencia: str) -> pd.DataFrame:
    """
    Realiza a junção (merge) entre a base principal e o DataFrame de referência.
    """
    # Garantir que as colunas usadas no merge sejam strings
    df_base[chave_base] = df_base[chave_base].astype(str)
    df_referencia[chave_referencia] = df_referencia[chave_referencia].astype(str)

    # Realizar o merge
    df_resultante = df_base.merge(df_referencia, left_on=chave_base, right_on=chave_referencia, how='left')
    
    return df_resultante

# Exemplo de aplicação da função

# Já carregados anteriormente
# df2 (base principal) e df_uf_mun (referência) já estão definidos

# Mesclar os DataFrames
df_5 = mesclar_dataframes(df_base=df_4, df_referencia=df_via, chave_base='cd_via', chave_referencia='CO_VIA')

# Exibir as primeiras linhas do DataFrame resultante
df_5.head()

,sg_ufncm,cd_via,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,NO_PAIS,urf_nome,NO_NCM_POR,NO_UNID,CO_VIA,NO_VIA
0,rj,4,107365,5,20,2023-03-01,China,AEROPORTO INTERNACIONAL DE VIRACOPOS,Outras partes de bombas para líquidos,QUILOGRAMA LIQUIDO,4,AEREA
1,sp,1,0,0,84,2023-12-01,Suécia,PORTO DE SANTOS,Arruelas de pressão e outras arruelas de segur...,QUILOGRAMA LIQUIDO,1,MARITIMA
2,rs,4,2,2,758,2023-04-01,Angola,AEROPORTO INTERNACIONAL DE SAO PAULO/GUARULHOS,Outras partes de aparelhos para filtrar ou dep...,QUILOGRAMA LIQUIDO,4,AEREA
3,rj,7,1,1,275,2023-05-01,Argentina,SÃO BORJA,"Outras antenas e refletores de antenas, e suas...",QUILOGRAMA LIQUIDO,7,RODOVIARIA
4,mg,7,2,0,9,2023-10-01,Argentina,SÃO BORJA,"Rolamentos de roletes cilíndricos, de carga ra...",NUMERO (UNIDADE),7,RODOVIARIA

In [93]:
#removendo colunas
df_5 = df_5.drop(columns=['cd_via', 'CO_VIA',])
df_5.head()

,sg_ufncm,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,NO_PAIS,urf_nome,NO_NCM_POR,NO_UNID,NO_VIA
0,rj,107365,5,20,2023-03-01,China,AEROPORTO INTERNACIONAL DE VIRACOPOS,Outras partes de bombas para líquidos,QUILOGRAMA LIQUIDO,AEREA
1,sp,0,0,84,2023-12-01,Suécia,PORTO DE SANTOS,Arruelas de pressão e outras arruelas de segur...,QUILOGRAMA LIQUIDO,MARITIMA
2,rs,2,2,758,2023-04-01,Angola,AEROPORTO INTERNACIONAL DE SAO PAULO/GUARULHOS,Outras partes de aparelhos para filtrar ou dep...,QUILOGRAMA LIQUIDO,AEREA
3,rj,1,1,275,2023-05-01,Argentina,SÃO BORJA,"Outras antenas e refletores de antenas, e suas...",QUILOGRAMA LIQUIDO,RODOVIARIA
4,mg,2,0,9,2023-10-01,Argentina,SÃO BORJA,"Rolamentos de roletes cilíndricos, de carga ra...",NUMERO (UNIDADE),RODOVIARIA

In [94]:
print(df_5.columns)

Index(['sg_ufncm', 'qt_estatistica', 'kg_liquido', 'vl_dolarfob',
       'data_exportacao', 'NO_PAIS', 'urf_nome', 'NO_NCM_POR', 'NO_UNID',
       'NO_VIA'],
      dtype='object')

In [95]:
#as colunas precisavam ser renomeadas para ficar com o mesmo padrão
df_5 = df_5.rename(columns={  
  'NO_PAIS': 'cd_pais', 
  'urf_nome': 'cd_urf', 
  'NO_NCM_POR': 'cd_ncm', 
  'NO_UNID': 'cd_unidade',
  'NO_VIA': 'cd_via'
    
    })
df_5.columns = df_5.columns.str.strip().str.lower().str.replace(' ', '_')
df_5.head()

,sg_ufncm,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,cd_pais,cd_urf,cd_ncm,cd_unidade,cd_via
0,rj,107365,5,20,2023-03-01,China,AEROPORTO INTERNACIONAL DE VIRACOPOS,Outras partes de bombas para líquidos,QUILOGRAMA LIQUIDO,AEREA
1,sp,0,0,84,2023-12-01,Suécia,PORTO DE SANTOS,Arruelas de pressão e outras arruelas de segur...,QUILOGRAMA LIQUIDO,MARITIMA
2,rs,2,2,758,2023-04-01,Angola,AEROPORTO INTERNACIONAL DE SAO PAULO/GUARULHOS,Outras partes de aparelhos para filtrar ou dep...,QUILOGRAMA LIQUIDO,AEREA
3,rj,1,1,275,2023-05-01,Argentina,SÃO BORJA,"Outras antenas e refletores de antenas, e suas...",QUILOGRAMA LIQUIDO,RODOVIARIA
4,mg,2,0,9,2023-10-01,Argentina,SÃO BORJA,"Rolamentos de roletes cilíndricos, de carga ra...",NUMERO (UNIDADE),RODOVIARIA

In [96]:
def padronizar_colunas(df, colunas):
    """
    Remove espaços extras e converte os valores das colunas especificadas para minúsculas.

    Parâmetros:
        df (pd.DataFrame): DataFrame de entrada.
        colunas (list): Lista de colunas a serem padronizadas.

    Retorna:
        pd.DataFrame: DataFrame com as colunas padronizadas.
    """
    df[colunas] = df[colunas].apply(lambda x: x.str.strip().str.lower())
    return df

df_5 = padronizar_colunas(df_5, ['cd_pais', 'cd_urf', 'cd_ncm', 'cd_unidade', 'cd_via'])
df_5.head()

,sg_ufncm,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,cd_pais,cd_urf,cd_ncm,cd_unidade,cd_via
0,rj,107365,5,20,2023-03-01,china,aeroporto internacional de viracopos,outras partes de bombas para líquidos,quilograma liquido,aerea
1,sp,0,0,84,2023-12-01,suécia,porto de santos,arruelas de pressão e outras arruelas de segur...,quilograma liquido,maritima
2,rs,2,2,758,2023-04-01,angola,aeroporto internacional de sao paulo/guarulhos,outras partes de aparelhos para filtrar ou dep...,quilograma liquido,aerea
3,rj,1,1,275,2023-05-01,argentina,são borja,"outras antenas e refletores de antenas, e suas...",quilograma liquido,rodoviaria
4,mg,2,0,9,2023-10-01,argentina,são borja,"rolamentos de roletes cilíndricos, de carga ra...",numero (unidade),rodoviaria

In [97]:
caminho = "/home/edcarlos/Data-Analytics-Comercio-Exterior/datalake/silver/exportacao_2023_m.csv" #salvando o arquivo
df_5.to_csv(caminho, index=False)
print("Arquivo salvo com sucesso!")

Arquivo salvo com sucesso!